header{
    background-color: blanchedalmond;
    height: 700px;
}
 .profile img{
    height: 500px;
} 
.card-img-top{
    height: 60%;
    width: 95%;
    margin-left: 10px;
     margin-top: 20px;
    padding: 50px; 
    border-radius: 10px;
    background-color: #f1f1f1;
}
.women-card{
   border: 0;
   height: 80%;
   border-radius: 20px;
    
 
    
}
.card-text{
    color:darkgrey;
}
.women-card-footer{
    border: 0;
    background-color: white;
    
}
.image-size img{
    width: 70px;
}
.image-size{
    border-radius: 10px;
    height: 120px;
    
}
.exchange{
    margin-left: 30px;
}
.img img{
    height: 400px;
}
#man{
    margin-top: -100px;
}

/* responsive design start */
 @media(max-width:668px){
    .profile img{
        height: 350px;
        width: 80%;
    }
    .jacket{
        text-align: center;
    }
    .card{
        margin-top: 100px;
    }
    .women-card{
        margin-top: -10px;
    }
   .row{
       justify-content: reverse;
   }
} 