nav{
    height: 50px;
    background-color: gray;
    font-size: 25px;
    line-height: 30px;
}
nav li{
    list-style: none;
   
    padding: 10px;
}
nav a{
    text-decoration: none;
}
nav li:hover{
    background-color:red;
    color: tomato;

}
nav>ul>li{
    float: left;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: turquoise;
    padding: 0;
}
nav > ul > li:hover>.dropdown{
    display: block;
}